<h1>Blog Administration</h1>

<error-list [errors]="errors"></error-list>

<p-table #tblBlogs [value]="blogs" dataKey="id" [paginator]="true" [rows]="20" [globalFilterFields]="['name','displayName']" [loading]="loading">
  <ng-template pTemplate="summary" let-rowData>
  </ng-template>
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="routeToAddBlog()" label="Add" title="Create New Blog"></button>
      <span class="frm-btn-spacer"></span>
      <label class="label label-default" for="ddlBlogStatus">
        Status:
      </label>
      <p-dropdown [options]="blogStatuses" [(ngModel)]="blogStatusId" (onChange)="handleBlogStatusChange($event)" id="ddlBlogStatus"></p-dropdown>

      <label style="margin-left: 28px;">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tblBlogs.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </label>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 120px;"></th>
      <th style="width: 80px;" [pSortableColumn]="'id'">ID <p-sortIcon [field]="'id'"></p-sortIcon></th>
      <th style="width: 260px;" [pSortableColumn]="'name'">Lookup Name <p-sortIcon [field]="'name'"></p-sortIcon></th>
      <th style="width: 260px;" [pSortableColumn]="'displayName'">Display Name <p-sortIcon [field]="'displayName'"></p-sortIcon></th>
      <th style="min-width: 260px;" [pSortableColumn]="'description'">Description <p-sortIcon [field]="'description'"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-blog>
    <tr>
      <td><button type="button" pButton icon="pi pi-pencil" (click)="routeToEditBlog(blog.id)" label="Edit"></button></td>
      <td>{{blog.id}}</td>
      <td>{{blog.name}}</td>
      <td>{{blog.displayName}}</td>
      <td>{{blog.description}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="5">
        No records found
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Number of blogs: {{blogs?.length}}
  </ng-template>
</p-table>
